body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(198, 198, 198);
    margin: 0;
}

h1 {
    text-align: center;
}

canvas {
    border: 1px solid black;
}